*{

    box-sizing: border-box;
    text-decoration: none;
}

img{
    display: block;
}
.div-iniziale{
    display: flex;
}

.header-fisso{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    outline: 1px solid lightgrey;
    background-color: white;
    
}
.barra-interzaioni-sx{
    display: flex;
    justify-content: flex-start;
    
}

.barra-interzaioni-dx{
    display: flex;
    justify-content: flex-end;
    
}
.a-sx{
    padding-left: 15px;

}
.a-dx{
    padding-right: 15px;
}
.primo-blocco{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.inizio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 40%;
    
}
.background{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    position: relative;
    top: 40px;
    

}

.immagine-iniziale{
    position: relative;
    left: 40%;
    bottom: 150px;
}
h1{
    font-size: 3rem;
}

